#!/usr/bin/make -f

%:
	# Force use setup.py build system instead of broken Makefile 
	# to build against multiple python version
	dh $@ --with python2 --buildsystem=python_distutils

override_dh_auto_test:
	for python in \
		$$(awk -F= '/^supported-versions/{sub(","," ",$$2) ; print $$2 ;}' \
		/usr/share/python/debian_defaults); do \
			$$python tests/test.py ; \
	done

